BB_ORG='sourceAccountOrORG'
BB_CREDS="user:pass"
GH_ORG='targetAccountOrOrg'
GH_CREDS='user:token' # Only repo permissions are needed, generate at https://github.com/settings/tokens
FAST_EXPORT_PATH='/opt/github/fast-export/hg-fast-export.sh' # Sorry, ~ shortcut doesn't work here
